body
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.container
{
	transition: .5s;
}

/* Navigation style */
nav
{
	border: 1px solid #ccc;
	border-width: 1px 0;
	text-align: center;
	perspective: 1000px;
	margin-top: 5px !important;
}

nav ul
{
	list-style: none;
}

nav ul li
{
	display: inline;
	margin: 0px 20px 0px 20px;
	letter-spacing: 3px;
}

nav ul li a
{
	display: inline-block;
	color: rgb(30, 39, 142);
	padding: 5px;
	cursor: pointer;
	transition: .5s;
}

nav ul li a:hover
{
	text-decoration:none;
	color: rgb(239, 48, 56);
	transform: translateZ(30px);
}
/* Navigation style */

/* section style */
section
{
	position: relative;
	width: 100%;
	
	border: 2px solid rgb(30, 39, 142);
	border-radius : 10px;
}

.sectionHeader
{
	position: relative;
	padding-top: 2px;
	width: 100%;
	height: 60px;
	
	color: white;
	background-color: rgb(30, 39, 142);
}

.sectionHeader h2
{
	margin-left: 20px;
}
/* section style */

/* Latest news div */
.latestNews
{
	height: 400px;
}

.latestNews .news
{
	margin-left: 20px;
	margin-top: 5px;
	height: 325px;
	overflow-y: scroll;
}

.latestNews .news hr
{
	width: 98%;
}
/* Latest news div */

/* payment status, messages, and home banner */
.homeBanner
{
	background-image: url("../images/home.jpg");
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.sectionContent
{
	margin-left: 20px;
	margin-top: 5px;
}
/* payment status, messages, and home banner */

/*  What's on your schedule style */

.scheduleViewer .blockContainer 
{
	width: 100%;
	height: 210px;
	overflow-x: scroll;
	overflow-y: scroll;
}

.scheduleViewer .blockContainer  .blockInnerContainer
{
	width: 150%;
	height: inherit;
}

.scheduleViewer .blockContainer .block
{
	position: relative;
	display: inline-block;
	width: 12%; /* around 175 px if inner container width is 150% of 960px */
	height: 85%; /* around 175 px if inner container height is 230px */
	border: solid 2px black;
	margin: 5px 10px 0px 10px;
	overflow: hidden;
}

.scheduleViewer .blockContainer .block .blockHeader
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 25px;
	background-color: rgb(239, 48, 56)
}

.scheduleViewer .blockContainer .block .blockHeader h3
{
	margin-left: 15px;
	margin-top: 0px;
	color: white;
}

.scheduleViewer .blockContainer .block  .blockContent
{
	position: absolute;
	top: 14.28571428571429%;
	margin-left: 5px;
}

/*  What's on your schedule style */

/* Appointment style */
#makeAppoint
{
	margin-left: -225px;
}

#removeAppoint
{
	margin-left: 75px;
}

.appointmentForm
{
	text-align: center;
	margin-top: 10%;
}

.appointmentForm .button
{
	position: relative;
    left: 50%;
    margin-left: -75px;
}

input[type=radio], .radioText
{
	cursor: pointer;
}
/* Appointment style */

.circleButton
{
	position: absolute;
	left: 50%;
	top: 50%;
	
	width: 150px;
	height : 150px;
	padding-top: 37.5px;
	border-radius: 75px;
	color : white;
	font-size: 23px;
	text-align: center;
	
	background-color: rgb(30, 39, 142);
	
	cursor: pointer;
	transition: .75s;
}

.circleButton:hover
{
	background-color: rgb(239, 48, 56) !important;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.50) !important;
}

.button
{
	position: absolute;
	
	width: 150px;
	height: 40px;
	
	padding-top: 5px;
	
	color: white;
	font-size: 23px;
	text-align: center;
	
	cursor: pointer;
	
	background-color: rgb(30, 39, 142);
	border-radius: 10px;
	
	transition: .5s;
}

.button:hover
{
	background-color: rgb(239, 48, 56);
	transform: translateZ(35px);
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.criticalButton
{
	background-color: black;
}

.criticalButton:hover
{
	background-color: black;
}

/* Admin home page */
.toolButtons
{
	position: relative;
	left: 0%;
	width: 100px;
	height: 25px;
	padding-top: 2px;
	font-size: 16px;
}

.toolButtons:hover
{
	transform: translateZ(10px);
}

select
{
	width: 100%;
}

/* Admin home page */

/* Scrollbar style */
/* Source: https://css-tricks.com/examples/WebKitScrollbars/ */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(239, 48, 56);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* Scrollbar style */