body
{
	animation: fadeIN 1s;
	perspective: 1000px;
}

.container
{
	animation: zoomIN 1s;
	transform-style: preserve-3d;
}

@keyframes fadeIN
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@keyframes zoomIN
{
	from
	{
		transform: translateZ(-50px);
	}
	
	to
	{
		transform: translateZ(0px);
	}
}

@keyframes zoomINFar
{
	from
	{
		transform: translateZ(-1000px);
	}
	
	to
	{
		transform: translateZ(0px);
	}
}

@keyframes enButtonStartupAnimation
{
	from
	{
		top: 150%;
	}
	
	to
	{
		top: 85%;
	}
}

@keyframes popLanguageButton
{
	0%
	{
		background-color: rgb(30, 39, 142);
	}
	
	50%
	{
		background-color: rgb(239, 48, 56);
	}
	
	100%
	{
		background-color: rgb(30, 39, 142);
	}
}

/* Style for the toast */
.toast
{
	position: absolute;
	left: 50%;
	top: 150%;
	
	width: 50%;
	height: 120px;
	
	margin-left: -25%;
	padding-top: 50px;
	
	background-color: rgb(0, 0, 0);
	
	color: white;
	text-align: center;
	font-size: 20px;
	
	z-index: 999;
}

@keyframes toastAnimation
{
	0%
	{
		top: 150%;
		opacity: 0;
	}
	
	20%
	{
		top: 85%;
		opacity: 1;
	}
	
	60%
	{
		top: 85%;
		opacity: 1;
	}
	
	100%
	{
		top: 150%;
		opacity: 0;
	}
}

/* Style for the toast */